<div class="main">
  <app-header></app-header>
  <div class="main__register">
    <div class="main__register--card">
      <div class="main__register--card__title">
        <h1>Novo Paciente</h1>
      </div>
      <div class="main__register--card__inputs" [formGroup]="form">
        <div class="main__register--card__inputs--name">
          <label>Nome:</label>
          <mat-form-field>
            <mat-label>Nome completo</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--email">
          <label>Email:</label>
          <mat-form-field>
            <mat-label>Digite seu e-mail</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--cell">
          <label>Celular:</label>
          <mat-form-field>
            <mat-label>(99) 99999-9999</mat-label>
            <input matInput formControlName="telefone" />
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--gender">
          <label>Sexo:</label>
          <mat-form-field>
            <mat-label>Sexo:</mat-label>
            <mat-select formControlName="sexo">
              <mat-option value="masc">Masculino</mat-option>
              <mat-option value="fem">Feminino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--buttons">
          <button
            mat-raised-button
            class="register-button"
            (click)="goToRegisterPatients()"
          >
            Cadastrar
          </button>
          <button mat-raised-button color="warn" (click)="goToPatients()">
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
