<div class="main">
  <div class="main__icon">
    <a href="/home"><img src="../../../../assets/image/logoAnima.png" width="100px" alt="" /></a>
  </div>
  <div class="main__nav">
    <p-button
      label="Sobre nós"
      styleClass="p-button p-button-text"
      (onClick)="goToAboutUs()"
    ></p-button>
    <p-button
      label="Login"
      styleClass="p-button p-button-text"
      routerLink="/login"
    ></p-button>
    <p-button
      label="Cadastre-se"
      styleClass="p-button-raised register"
    ></p-button>
  </div>
</div>
