<div class="main">
  <app-sidenav></app-sidenav>
  <div class="main__welcome">
    <div class="main__welcome--nav">
      <div class="main__welcome--nav__card">
        <div class="main__welcome--nav__card--title">
          <h1>Bem-vindo</h1>
        </div>
        <div class="main__welcome--nav__card--inputs">
          <div class="main__welcome--nav__card--inputs__patients">
            <label htmlFor="patients">Pacientes</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText />
            </span>
            <p-button label="Pesquisar" styleClass="p-button-raised"></p-button>
          </div>
          <div class="main__welcome--nav__card--inputs__foods">
            <label htmlFor="foods">Alimentos</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText />
            </span>
            <p-button label="Pesquisar" styleClass="p-button-raised"></p-button>
          </div>
        </div>
        <div class="main__welcome--nav__card--image">
          <a>
            <img
              src="../../../../assets/image/logoAnima.png"
              width="400px"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
