<div class="main">
  <app-header></app-header>
  <div class="main__register">
    <div class="main__register--card">
      <div class="main__register--card__title">
        <h1>Novo Alimento</h1>
      </div>

      <div class="main__register--card__inputs">
        <div class="main__register--card__inputs--name">
          <label>Nome:</label>
          <mat-form-field>
            <mat-label>Nome do alimento</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--email">
          <label>Porção:</label>
          <mat-form-field>
            <mat-label>Porção</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--cell">
          <label>Calorias:</label>
          <mat-form-field>
            <mat-label>Calorias</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--gender">
          <label>Medidas Caseiras:</label>
          <mat-form-field>
            <mat-label>Medidas Caseiras:</mat-label>
            <mat-select>
              <mat-option value="masc">Masculino</mat-option>
              <mat-option value="fem">Feminino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--gender">
          <label>Unidades:</label>
          <mat-form-field>
            <mat-label>Unidades:</mat-label>
            <mat-select>
              <mat-option value="masc">Masculino</mat-option>
              <mat-option value="fem">Feminino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="main__register--card__inputs--buttons">
          <button
            mat-raised-button
            class="register-button"
            (click)="goToFoods()"
          >
            Cadastrar
          </button>
          <button mat-raised-button color="warn" (click)="goToFoods()">
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
