<div class="main">
  <div class="main__title">
    <h1>{{ pacient.nome }}</h1>
    <hr />
  </div>

  <div class="main__nav">
    <p-button
      label="Anamnese"
      styleClass="p-button p-button-text"
      (onClick)="goToAnamnesis()"
    ></p-button>
    <p-button
      label="Antropometria"
      styleClass="p-button p-button-text"
      (onClick)="goToAnthropometry()"
    ></p-button>
    <p-button
      label="Plano Alimentar"
      styleClass="p-button p-button-text"
    ></p-button>
  </div>

  <div class="main__back">
    <p-button
    label="Voltar"
    styleClass="p-button-warning"
    (onClick)="goToNutrition()"
  ></p-button>
  </div>
</div>
