<div class="main">
  <app-sidenav></app-sidenav>
  <div class="main__patients">
    <div class="main__patients--nav">
      <div class="main__patients--nav__title">
        <h1>PACIENTES</h1>
      </div>
      <div class="main__patients--nav__buttons">
        <div class="main__patients--nav__buttons__patients">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText />
          </span>
        </div>
        <div class="main__patients--nav__buttons__register">
          <p-button
            label="Cadastrar Paciente"
            styleClass="p-button-raised"
            (onClick)="goToRegisterPatient()"
          ></p-button>
        </div>
      </div>
      <div class="main__patients--nav__titleCard">
        <div class="main__patients--nav__titleCard--name">
          <p>NOME DO PACIENTE:</p>
        </div>
        <div class="main__patients--nav__titleCard--email">
          <p>EMAIL:</p>
        </div>
        <div class="main__patients--nav__titleCard--cell">
          <p>CELULAR:</p>
        </div>
      </div>
      <div class="main__patients--nav__card">
        <div class="main__patients--nav__card--name">
          <p>Breno Queiroz</p>
        </div>
        <div class="main__patients--nav__card--email">
          <p>brenoqn01@gmail.com</p>
        </div>
        <div class="main__patients--nav__card--cell">
          <p>(34) 99894-0198</p>
        </div>
        <div class="main__patients--nav__card--view">
          <i class="pi pi-folder-open" (click)="goToPatient()" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- <div
        class="main__patients--nav__card"
        *ngFor="let patient of patients"
      >
        <div class="main__patients--nav__card--name">
          <p>{{ patient.name }}</p>
        </div>
        <div class="main__patients--nav__card--email">
          <p>{{ patient.email }}</p>
        </div>
        <div class="main__patients--nav__card--cell">
          <p>{{ patient.cell }}</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
