<div class="main">
  <app-sidenav></app-sidenav>
  <div class="main__profile">
    <div class="main__profile--card">
      <div class="main__profile--card__title">
        <h1>Nutricionista</h1>
      </div>
      <div class="main__profile--card__inputs">
        <div class="main__profile--card__inputs--name">
          <label>Nome completo:</label>
          <mat-form-field>
            <mat-label>Nome completo</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="main__profile--card__inputs--gender">
          <label>Idade:</label>
          <mat-form-field>
            <mat-label>Idade</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="main__profile--card__inputs--cell">
          <label>Celular:</label>
          <mat-form-field>
            <mat-label>(99) 99999-9999</mat-label>
            <input matInput mask="(00) 00000-0000" />
          </mat-form-field>
        </div>
        <div class="main__profile--card__inputs--email">
          <label>Email:</label>
          <mat-form-field>
            <mat-label>Digite seu e-mail</mat-label>
            <input
              matInput
              placeholder="email@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="main__profile--card__inputs--gender">
          <label>Sexo:</label>
          <mat-form-field>
            <mat-label>Sexo:</mat-label>
            <mat-select>
              <mat-option value="masc">Masculino</mat-option>
              <mat-option value="fem">Feminino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="main__profile--card__inputs--buttons">
          <button
            mat-raised-button
            class="edit-button"
          >
            Editar
          </button>
          <button
            mat-raised-button
            class="save-button"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
